[Desktop Entry]
Name=Satellite
GenericName=System monitor
Comment=Monitor how the system resources are being utilized
Categories=System;Utility;
Exec=com.github.ryanafrish7.satellite
Icon=com.github.ryanafrish7.satellite
Terminal=false
Type=Application
Keywords=System;Process;Monitor;
